{% extends 'base.html.twig' %}

{% block title %}User Edit{% endblock %}
{% block content_title %}User Edit{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Edit" />
    {{ form_end(edit_form) }}
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_user_index') }}" class="list-group-item"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to the list</a>
                {{ form_start(delete_form) }}
                <button type="submit" class="list-group-item delete-btn list-group-item-danger" data-action="delete"
                        data-message="Are you sure you want to delete this user?" data-action-class="btn-danger">
                <i class="glyphicon glyphicon-remove-circle"></i> Delete user
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
