{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}
{% block content_title %}Users List{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Is Active?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('admin_user_show', { 'id': user.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
                    &nbsp;
                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_user_new') }}" class="list-group-item"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create a new User</a>
            </div>
        </div>
    </div>
{% endblock %}
