{% extends 'base.html.twig' %}

{% block title %}Show User - {{ user.username }}{% endblock %}

{% block content_title %}{{ user.username }}{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Role(s)</th>
                <td>{{ user.roles|join(', ') }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Is Active?</th>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_user_index') }}" class="list-group-item"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to the list</a>
                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit User</a>
                {{ form_start(delete_form) }}
                <button type="submit" class="list-group-item delete-btn list-group-item-danger" data-action="delete"
                        data-message="Are you sure you want to delete this user?" data-action-class="btn-danger">
                <i class="glyphicon glyphicon-remove-circle"></i> Delete user
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
