{% extends 'AEBlogBundle::layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content_title %}{{ post.title }}{% endblock %}

{% block body %}
    <!-- Blog Post -->
    <!-- Author -->
    <p class="lead">
        by {{ post.author.displayName }}
    </p>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt | date('F d, Y') }}
        at {{ post.createdAt | date('h:i A') }}</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">

    <hr>

    <!-- Post Content -->
    <p>{{ post.content }}</p>

    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <input type="submit" class="btn btn-primary" value="Submit"/>
        {{ form_end(comment_form) }}
    </div>

    <hr>
    {% if post.comments | length > 0 %}
        <!-- Posted Comments -->
        <h3>Comments:</h3>
        {% for comment in post.comments %}
            <!-- Comment -->
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.visitorName }}
                        <small>{{ post.createdAt | date('F d, Y') }} at {{ post.createdAt | date('h:i A') }}</small>
                    </h4>
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}