{% extends 'AEBlogBundle::layout.html.twig' %}
{% block body %}
    <h1 class="page-header">
        Symfony Blog
        <small>Just a lightweight blog</small>
    </h1>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <!-- Blog Post -->
            <h2>
                <a href="{{ path('ae_post_show', {'id': post.id}) }}">{{ post.title }}</a>
            </h2>
            <p class="lead">
                by {{ post.author.displayName }}
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt | date('F d, Y') }}
                at {{ post.createdAt | date('h:i A') }}</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>{{ post.content[:50] ~ '...' }}</p>
            <a class="btn btn-primary" href="{{ path('ae_post_show', {'id': post.id}) }}">Read More <span
                        class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
        {% endfor %}
    {% else %}
        <p>Sorry, no posts has been published matching your criteria.</p>
    {% endif %}
{% endblock %}
