{% extends '::base.html.twig' %}

{% block sidebar %}
    {% if categories | length > 0 %}
        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled">
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('ae_blog_homepage_category', {'id': category.id}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    {% endif %}
{% endblock %}