<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %} - Symfony Blog</title>

    {% stylesheets '@bootstrap_css' '@AEBlogBundle/Resources/public/css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Symfony Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_user_index') }}">Manage Users</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_index') }}">Manage Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_post_index') }}">Manage Posts</a>
                    </li>
                {% endif %}
                <li>
                    {% if app.user %}
                        <a href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% block content_title %}{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashBag.all() %}
                    {% set alertType = type %}
                    {% if alertType == 'error' %}
                        {% set alertType = 'danger' %}
                    {% endif %}
                        {% for message in messages %}
                            <div class="alert alert-{{ alertType }}">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ type|capitalize }}!</strong>&nbsp;{{ message }}
                            </div>
                        {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            {% block body %}{% endblock %}
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Ahmed El-Araby {{ "now" | date('Y') }}</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
<div id="modal-confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn" id="modal-confirmation-primary-btn"></button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery & Bootstrap Core JavaScript -->
{% javascripts '@jquery' '@bootstrap_js' '@AEBlogBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>

</html>