{% extends '::base.html.twig' %}

{% block title %}Categories List{% endblock %}
{% block content_title %}Categories List{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('admin_category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('admin_category_show', { 'id': category.id }) }}">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        &nbsp;
                        <a href="{{ path('admin_category_edit', { 'id': category.id }) }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_category_new') }}" class="list-group-item"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create a new Category</a>
            </div>
        </div>
    </div>
{% endblock %}