{% extends 'base.html.twig' %}

{% block title %}Show Category - {{ category.name }}{% endblock %}

{% block content_title %}Category ({{ category.name }}){% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_category_index') }}" class="list-group-item"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to the list</a>
                <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit Category</a>
                {{ form_start(delete_form) }}
                <button type="submit" class="list-group-item delete-btn list-group-item-danger" data-action="delete"
                        data-message="Are you sure you want to delete this category?" data-action-class="btn-danger">
                    <i class="glyphicon glyphicon-remove-circle"></i> Delete Category
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}