{% extends '::base.html.twig' %}

{% block title %}Posts List{% endblock %}
{% block content_title %}Posts List{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{{ path('admin_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content[:20] ~ '...' }}</td>
                    <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('admin_post_show', { 'id': post.id }) }}">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        &nbsp;
                        <a href="{{ path('admin_post_edit', { 'id': post.id }) }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_post_new') }}" class="list-group-item"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create a new Post</a>
            </div>
        </div>
    </div>
{% endblock %}