{% extends 'base.html.twig' %}

{% block title %}Post Creation{% endblock %}
{% block content_title %}Post Creation{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create"/>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_post_index') }}" class="list-group-item"><i
                            class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}
