{% extends 'base.html.twig' %}

{% block title %}Show Post - {{ post.title }}{% endblock %}

{% block content_title %}Post ({{ post.title }}){% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Is Published?</th>
                <td>{% if post.isPublished %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ path('admin_post_index') }}" class="list-group-item"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to the list</a>
                <a href="{{ path('admin_post_edit', { 'id': post.id }) }}" class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit Post</a>
                {{ form_start(delete_form) }}
                <button type="submit" class="list-group-item delete-btn list-group-item-danger" data-action="delete"
                        data-message="Are you sure you want to delete this category?" data-action-class="btn-danger">
                    <i class="glyphicon glyphicon-remove-circle"></i> Delete Post
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}