{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}
{% block content_title %}Login{% endblock %}

{% block body %}

    <div class="wrapper">
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <input type="text" class="form-control" name="_username" placeholder="Username or Email Address" required="" autofocus="" value="{{ last_username }}"/>
        <input type="password" class="form-control" name="_password" placeholder="Password" required=""/>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="row">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

    </form>
    </div>
{% endblock %}
